body {
    margin: 20px;
    font-family: "Microsoft JhengHei";
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul > li {
    float: left;
    width: 40px;
    margin: 0;
    padding: 0;
}
#track-list {
    height: 200px;
}
#track-list > li {
    height: 200px;
    overflow: hidden;
    position: relative;
}
#basket-list {
    height: 28px;
    border-top: 2px blue solid;
}
#basket-list > li {
    background: blue;
    text-align: center;
    font-family: Consolas;
    font-size: 16px;
    color: white;
    padding: 5px 0;
}
#basket-list > li:nth-child(even) {
    background: aqua;
}
.apple {
    background: red;
    width: 40px;
    height: 4px;
    position: absolute;
    top: -4px;
    -webkit-transition: top 2s linear;
}
#basket-list > li:focus {
    -webkit-transform: scale(1.5);
    border-radius: 5px;
    outline: none;
}
#basket-list > li:last-child {
    clear: right;
}
h1 {
    margin: 0;
}
pre {
    clear: both;
    font-family: Consolas;
}
button {
    font-family: "Microsoft JhengHei";
    font-size: 100%;
}
#stage {
    float: left;
    border: 2px blue solid;
    margin-bottom: 20px;
}