#key-10 {left: 360px; top: 60px;}
#key-12 {left: 270px; top: 0;}
#key-13 {left: 300px; top: 60px;}
#key-15 {left: 30px; top: 0;}
#key-17 {left: 60px; top: 60px;}
#key-18 {left: 0; top: 60px;}
#key-21 {left: 210px; top: 0;}
#key-22 {left: 240px; top: 60px;}
#key-24 {left: 150px; top: 0;}
#key-25 {left: 180px; top: 60px;}

