body, select, button {
    font-family: Consolas;
    font-size: 24px;
}

#keyboard-show {
    position: relative;
    width: 420px;
    height: 120px;
    list-style: none;
}
#keyboard-show button {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    background: aqua;
    line-height: 55px;
    font-size: 24px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
#keyboard-show sub {
    color: gray;
}

