body, input, select, button {
    font-family: Consolas;
    font-size: 24px;
}


.controller {
    padding: 20px 0;
}
.instrument {
    border-top: 1px black solid;
    padding: 20px 0;
}
.instrument > button {
    float: left;
}


.state-open,
.state-error,
.state-close {
    padding: 5px 0;
}