body, input, select, button {
    font-family: Consolas;
    font-size: 24px;
}




h1 {
    text-align: center;
}
section {
    margin: auto;
}
ul {
    list-style: none;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
}
ul > li {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 80px;
    position: relative;
}
#track-list > li {
    height: 360px;
    background: silver;
    overflow: hidden;
    z-index: 20;
}
#track-list > li > .apple {
    position: absolute;
    width: 80px;
    height: 10px;
    background: red;
    top: 0;
    left: 0;
    -webkit-transition: top 0.5s;
    z-index: 25;
}
#key-list > li {
    text-align: center;
    line-height: 60px;
    background: black;
    color: white;
    z-index: 20;
}
#key-list > li:focus {
    background: silver;
    color: black;
}




#key-48, #key-49, #key-50, #key-51, #key-52,
#key-53, #key-54, #key-55, #key-56, #key-57 {
    top: -40px;
}
#key-81, #key-87, #key-69, #key-82, #key-84,
#key-89, #key-85, #key-73, #key-78, #key-79 {
    top: -20px;
}
#key-90, #key-88, #key-67, #key-86,
#key-66, #key-77, #key-78 {
    top: 20px;
}


#key-list > li.black-key,
#track-list > li.black-track {
    position: absolute;
    top: -20px;
}
#track-list > li.black-track {
    background: gray;
}
.black-track > .apple {
    z-index: 15;
}
#key-list > li.black-key {
    background: gray;
}